{% extends "index.html" %}
{% load static i18n %}
{% load humanize %}

{% block main %}
<div class="section mb-0" style="padding: 60px 0; border-top: 1px solid #EEE;">
    <div class="container clearfix">
        <div class="heading-block center mb-0 border-bottom-0">
            <h3 class="nott font-secondary ls0" style="font-size: 60px;">{{ product.title }}</h3>
        </div>
    </div>
</div>
<section id="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-dismissible {{ message.tags }} mb-0">
                            {{ message }}
                            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                                    aria-hidden="true"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>

            <div class="col-lg-10 col-md-10">
                <div class="product modal-padding">
                    <div class="row col-mb-50">
                        <div class="col-md-6">
                            <div class="product-image">
                                <div class="slide clone" aria-hidden="true" style="width: 348px; margin-right: 0px; float: left; display: block;">
                                    <img src="{{ product.image.url }}" draggable="false">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 product-desc">
                            <div class="product-price">
                                <ins class="fw-semibold" style="font-size: 40px;">$ {{ product.price|intcomma }}</ins>
                            </div>
                            {% if user.is_authenticated %}
                            {% if user.id_rol == '3' %}
                            <div class="line"></div>
                            <!-- Product Single - Quantity & Cart Button
                            ============================================= -->
                            <form class="cart mb-0" action="/saveShoppingCart/{{product.id}}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="quantity clearfix">
                                    <input type="button" value="-" class="minus">
                                    <input type="text" step="1" min="1" name="amount" value="1" title="Qty" class="qty" size="4">
                                    <input type="button" value="+" class="plus">
                                </div>
                                <input type="hidden" name="sku" value="{{ sku }}">
                                <input type="hidden" name="unit_price" value="{{ product.price }}">
                                <button type="submit" class="add-to-cart button m-0">Añadir al carrito</button>
                            </form><!-- Product Single - Quantity & Cart Button End -->
                            <div class="line"></div>
                            {% endif %}
                            {% else %}
                            <h3>Debe haber iniciado sesión para poder comprar este producto</h3>
                            <a href="{% url 'users:userlogin' %}" class="button button-mini button-border button-rounded"><i class="icon-user4"></i>Login</a>
                            {% endif %}

                            <p>{{ product.content }}</p>
                            <div class="card product-meta mb-0">
                                <div class="card-body">
                                    <span itemprop="productID" class="sku_wrapper">SKU: <span class="sku">{{ sku }}</span></span>
                                    <span class="posted_in">Categoría: {{ product.id_category }}</span>
                                </div>
                            </div>
                            <a href="/productsList" class="button button-mini button-border button-rounded" style="float: right;"><span><i class="bi-backspace-fill"></i>Regresar</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10" style="margin-bottom: 39px;">
                {% if user.is_authenticated %}
                    {% if user.id != product.id_user_id %}
                        <form class="row" action="/saveQuestion/{{product.id}}" method="post">
                            {% csrf_token %}
                            <div class="col-md-10">
                                <input type="text" name="question" class="form-control" style="margin-top: 10px;">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="button button-border button-rounded button-amber">Enviar pregunta</button>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
                {% for question in questions %}
                {% if question.product_id == product.id %}
                    <div class="comment-wrap clearfix" style=" margin-top: 30px">
                        <div class="comment-meta">
                            <div class="comment-author vcard">
                                <span class="comment-avatar clearfix"><img alt="" src="/media/{{ question.profile_pic }}" height="60" width="60"></span>
                            </div>
                        </div>
                        <div class="comment-content clearfix">
                            <div class="comment-author">{{ question.first_name }} {{ question.last_name }}<span>{{ question.register_date|date:'d-m-Y' }}</span></div>
                            <p>{{ question.question }}</p>
                        </div>

                        {% if user.is_authenticated %}
                            {% if user.id == product.id_user_id %}
                                <form class="row" action="/saveAsnwer/{{question.id}}/{{product.id}}" method="post">
                                    {% csrf_token %}
                                    <div class="col-md-8">
                                        <input type="text" name="asnwer" class="form-control" style="margin-top: 10px;">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="button button-border button-rounded button-amber">Enviar respuesta</button>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}
                        {% for asnwer in asnwers %}
                            {% if asnwer.question_id == question.id %}
                                <div class="divider divider-right" style="margin: 10px 0px 10px 0px;"><i class="icon-comment"></i></div>
                                <div id="comment-1" class="comment-wrap clearfix">
                                    <div class="comment-meta">
                                        <div class="comment-author vcard">
                                            <span class="comment-avatar clearfix"><img alt="" src="/media/{{ asnwer.profile_pic }}" height="60" width="60"></span>
                                        </div>
                                    </div>
                                    <div class="comment-content clearfix">
                                        <div class="comment-author">{{ asnwer.first_name }} {{ asnwer.last_name }}<span>{{ asnwer.register_date|date:'d-m-Y' }}</span></div>
                                        <p>{{ asnwer.asnwer }}</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div style="position: absolute; bottom: 0; left: 0; width: 100%; z-index: 3; background: url('{% static 'images/sketch-header.png' %}') repeat center bottom; background-size: auto 100%; height: 40px; margin-bottom: -10px;"></div>
</section>
<div class="section mb-0" style="padding: 60px 0; border-top: 1px solid #EEE;">
    <div class="container clearfix">
        <div class="heading-block center mb-0 border-bottom-0">
        </div>
    </div>
</div>
{% endblock %}