{% extends "index.html" %}
{% load static i18n %}

{% block main %}
<div class="section mb-0" style="padding: 60px 0; border-top: 1px solid #EEE;">
    <div class="container clearfix">
        <div class="heading-block center mb-0 border-bottom-0">
            <h3 class="nott font-secondary ls0" style="font-size: 60px;">Iniciar Sesión</h3>
        </div>
    </div>
</div>
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                           {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-dismissible {{ message.tags }} mb-0">
                                        {{ message }} <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-hidden="true"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="well well-lg mb-0">
                        <form id="login-form" name="login-form" class="row" action="{% url 'users:login' %}" method="post">

                            {% csrf_token %}
                            <div class="col-12">
                                <h3>Inicia sesión</h3>
                            </div>

                            <div class="col-12 form-group">
                                <label for="login-form-username">Username:</label>
                                {{ loginForm.username }}
                            </div>

                            <div class="col-12 form-group">
                                <label for="login-form-password">Password:</label>
                                {{ loginForm.password }}
                            </div>

                            <div class="col-12 form-group">
                                <button class="btn btn-secondary m-0" id="login-form-submit" name="login-form-submit"
                                        value="login">Iniciar sesión
                                </button>
                                <!--<a href="#" class="float-end">Forgot Password?</a>-->
                            </div>

                        </form>
                    </div>

                </div>

                <div class="col-md-8">
                    <h3>¿Aun no tienes cuenta? Regístrate</h3>
                    <form id="register-form" name="register-form" class="row" action="{% url 'users:signup' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-6 form-group">
                            <label for="register-form-name">Imagen de perfil:</label>
                            {{ signupForm.profile_pic}}
                        </div>

                        <div class="col-6 form-group">
                            <label for="register-form-name">Nombre de usuario:</label>
                            {{ signupForm.username}}
                        </div>

                        <div class="col-6 form-group">
                            <label for="register-form-name">¿Qué tipo de usuario eres? :</label>
                            {{ signupForm.id_rol }}
                        </div>

                        <div class="col-6 form-group">
                            <label for="register-form-name">Nombres:</label>
                            {{ signupForm.first_name}}
                        </div>
                        <div class="col-6 form-group">
                            <label for="register-form-name">Apellidos:</label>
                            {{ signupForm.last_name}}
                        </div>

                        <div class="col-6 form-group">
                            <label for="register-form-email">Email:</label>
                            {{ signupForm.email}}
                        </div>

                        <div class="col-6 form-group">
                            <label for="register-form-phone">Teléfono móvil (Whatsapp):</label>
                            {{ signupForm.phone}}
                        </div>
                        <div class="w-100"><div class="divider divider-sm divider-center"><i class="icon-crop"></i></div></div>
                        <div class="col-6 form-group">
                            <label for="register-form-password">Contraseña:</label>
                            {{ signupForm.password }}
                        </div>

                        <div class="col-6 form-group">
                            <label for="register-form-repassword">Repetir Contraseña:</label>
                            {{ signupForm.password2 }}
                        </div>

                        <div class="w-100"></div>

                        <div class="col-12 form-group">
                            <button type="submit" class="btn btn-dark m-0" id="register-form-submit" name="register-form-submit"
                                    value="register">Registrar
                            </button>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>
    <div style="position: absolute; bottom: 0; left: 0; width: 100%; z-index: 3; background: url('{% static 'images/sketch-header.png' %}') repeat center bottom; background-size: auto 100%; height: 40px; margin-bottom: -10px;"></div>
</section><!-- #content end -->
{% endblock %}
